<!-- <h1 style="background-color: #35155D; color: white;"  class="d-flex p-2 align-items-center justify-content-center">Angular Practice Site</h1> -->
<!-- <div class="d-flex p-2">
    
    <ol class="list-group list-group-numbered"><h6>Angular form approaches</h6>   
        <li class="list-group-item">Template driven form</li>
        <li class="list-group-item">Reactive form approach</li>
      </ol>
</div> -->
    


<!-- <app-registration-form></app-registration-form> -->
<div ngxUiLoaderBlurred (blur)="6">
  <!-- This page content will be blurred/frosted when foreground loader is showed -->
  <!-- <app-reactive-form></app-reactive-form> -->
  <top-header></top-header>
  <app-header></app-header>
  <product-list></product-list>
</div>
<ngx-ui-loader></ngx-ui-loader>
 <router-outlet></router-outlet>