<!-- <h1 style="background-color: #35155D; color: white;"  class="d-flex p-2 align-items-center justify-content-center">Angular Practice Site</h1> -->
<!-- <div class="d-flex p-2">
    
    <ol class="list-group list-group-numbered"><h6>Angular form approaches</h6>   
        <li class="list-group-item">Template driven form</li>
        <li class="list-group-item">Reactive form approach</li>
      </ol>
</div> -->
    


<!-- <app-registration-form></app-registration-form> -->
<app-reactive-form></app-reactive-form>
 <router-outlet></router-outlet>